@* @await Component.InvokeAsync(typeof(HeaderLinksViewComponent)) *@
@* @await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent)) *@

<header class="py-4 px-3 py-md-4 py-sm-4 py-lg-3">
    <div class="container">
        <div class="row g-2 align-items-center">
            <div class="col-3 col-lg-2">
                @await Component.InvokeAsync(typeof(LogoViewComponent))
            </div>
            <div class="col-9 col-lg-10">
                <div class="vstack gap-2">
                    @* Language, Links *@
                    <div class="row d-none d-lg-block">
                        @await Component.InvokeAsync(typeof(HeaderTopLinksViewComponent))
                    </div>
                    @* Search bar, logo, Checkout *@
                    <nav>
                        <div class="row g-0">
                            <div class="col-8 col-sm-8 col-xl-9 col-lg-8 col-md-9">
                                <div class="d-flex align-items-center">
                                    <button id="catalog-toggler" class="navbar-toggler d-flex align-items-center"
                                        type="button" data-bs-toggle="offcanvas" data-bs-target="#catalog-navbar"
                                        aria-controls="catalog-navbar" aria-label="Toggle catalog">
                                        <i class="fas fa-bars-staggered me-md-2"></i>
                                        <span class="d-none d-md-block">@T("Catalog")</span>
                                    </button>
                                    <div id="header-search-rounded" class="mx-3 mx-lg-4 hstack gap-0 flex-grow-1">
                                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xl-3 col-lg-4 col-md-3 d-flex align-items-center">
                                <div id="header-menu" class="d-flex justify-content-between flex-grow-1">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#user-navbar" aria-controls="user-navbar"
                                        aria-label="Toggle user">
                                        <i class="fas fa-user-group me-2"></i>
                                        <span class="d-none d-lg-inline-block">@T("account.myaccount")</span>
                                    </button>
                                    <button class="navbar-toggler p-2 position-relative" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#wishes-navbar"
                                        aria-controls="wishes-navbar" aria-label="Toggle wishes">
                                        <i class="fas fa-heart"></i>
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                            0
                                        </span>
                                    </button>
                                    <button class="navbar-toggler p-2 position-relative" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#cart-navbar"
                                        aria-controls="cart-navbar" aria-label="Toggle cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                            0
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

@* Catalog *@
<div class="offcanvas offcanvas-start" tabindex="-1" id="catalog-navbar" aria-labelledby="catalog-navbar-label">
    <div class="offcanvas-header pb-0">
        <h5 class="offcanvas-title">@T("Catalog")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        @await Component.InvokeAsync(typeof(CatalogViewComponent))
    </div>
</div>

@* Account *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="user-navbar" aria-labelledby="user-navbar-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">@T("account.myaccount")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>

@* Wishes *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="wishes-navbar" aria-labelledby="wishes-navbar-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">@T("enums.nop.core.domain.orders.shoppingcarttype.wishlist")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Wishes"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>

@* Cart *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="cart-navbar" aria-labelledby="cart-navbar-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">@T("enums.nop.core.domain.orders.shoppingcarttype.shoppingcart")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cart"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>
