@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Topics

@inject IWorkContext workContext

<footer class="mt-4 py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="footer-upper d-flex justify-content-between">
                    <div class="footer-block follow-us">
                        <div class="social">
                            <div class="title">
                                <strong>Categorii recomandate</strong>
                                @{
                                    var categories = Model.RecommendedCategories;

                                    if(categories != null && categories.Any())
                                    {
                                        <ul class="list">
                                            @foreach (var category in categories)
                                            {
                                                <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName})">@category.Name</a></li>
                                            }
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="footer-block my-account">
                        <div class="title">
                            <strong>@T("Footer.MyAccount")</strong>
                        </div>
                        <ul class="list">
                            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                            <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                            <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                        </ul>
                    </div>
                    <div class="footer-block customer-service">
                        <div class="title">
                            <strong>Relatii clienti</strong>
                        </div>
                        <ul class="list">
                            <li><a href="@Url.RouteUrl("ProductSearch")">tel: +37362111827</a> </li>
                            <li><a href="@Url.RouteUrl("ProductSearch")">email: sales@movo.md</a> </li>
                        </ul>
                    </div>
                    <div class="footer-block information">
                        <div class="title">
                            <strong>@T("Footer.Information")</strong>
                        </div>
                        <ul class="list">
                            @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                            }
                            @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                            {
                                <li><a href="@(Url.RouteUrl<Topic>(new { SeName = topic.SeName }))">@topic.Name</a></li>
                            }
                            @if (Model.DisplayContactUsFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                            }
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
                <section class="footer-lower d-flex justify-content-between">
                    <div class="footer-logo d-flex align-items-center">
                        <img width="150" src="~/Themes/DefaultClean/Content/Images/footer_logo.png" alt="MOVO" />
                    </div>
                    <div class="footer-info">
                        <ul>
                            <li class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year,
                                Model.StoreName)</li>
                            <li>MOVO STORE S.R.L.</li>
                            <li>MD-2069, str. Ion Creanga, 6V, mun. Chisinau, Republica Moldova</li>
                            <li>IDNO: 1020600034721 | TVA: 0508719</li>
                            <li>IBAN: MD73VI022240300001119MDL | BC "VICTORIABANK" S.A. suc. nr.3 Chisinau | BIC:
                                VICBMD2X416
                            </li>
                        </ul>
                    </div>
                    <div class="footer-payments d-flex alignt-items-center">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="h-stack gap-3">
                                    <img width="60" src="~/Themes/DefaultClean/Content/Images/visa.png" alt="Visa" />
                                    <img width="60" src="~/Themes/DefaultClean/Content/Images/maestro.png" alt="Visa" />
                                    <img width="60" src="~/Themes/DefaultClean/Content/Images/mastercard.png"
                                        alt="Visa" />
                                    <img width="60" src="~/Themes/DefaultClean/Content/Images/amex.png" alt="Visa" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>